<h3>Login</h3>

<br />
<?php

if ($this->error) {
    echo '<p>Usuário e/ou senha inválidos</p>';
}

$form = $this->form;
$form->setAttribute('action', $this->url('sonuser-auth'));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();