<h1>Privileges</h1>

<p>
<a href="<?php echo $this->url('sonacl-admin/privileges', ['action' => 'new']); ?>">Novo</a>
</p>

<p>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Role</th>
        <th>Resource</th>
        <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->data as $entity) : ?>
        <tr>
            <td><?php echo $entity->getId(); ?></td>
            <td><?php echo $entity->getName(); ?></td>
            <td>
                <?php echo $entity->getRole()->getName(); ?>
            </td>
            <td>
                <?php echo $entity->getResource()->getName(); ?>
            </td>
            <td>
                <a href="<?php echo $this->url('sonacl-admin/privileges', ['action' => 'edit', 'id' => $entity->getId()]); ?>">Editar</a>&nbsp;|&nbsp;
                <a href="<?php echo $this->url('sonacl-admin/privileges', ['action' => 'delete', 'id' => $entity->getId()]); ?>">Remover</a>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
</p>
<br/>
<?php echo $this->paginationControl($this->data, 'Sliding', 'partials/pagination'); ?>
