<?php if ($this->messages) : ?>
    <p>
        <?php echo $this->messages[0]; ?>
    </p>
<?php endif; ?>

<h1>Editando</h1>

<?php
$form = $this->form;
$form->setAttribute('action', $this->url('sonacl-admin/roles', ['action' => 'edit', 'id' => $this->id]));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();
