<h1>Roles</h1>

<p>
<a href="<?php echo $this->url('sonacl-admin/roles', ['action' => 'new']); ?>">Novo</a>
</p>

<p>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Herança</th>
        <th>Admin</th>
        <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->data as $entity) : ?>
        <tr>
            <td><?php echo $entity->getId(); ?></td>
            <td><?php echo $entity->getName(); ?></td>
            <td>
                <?php
                $parent = '';
                if ($entity->getParent()) {
                    $parent = $entity->getParent()->getName();
                }
                echo $parent;
                ?>
            </td>
            <td>
                <?php echo $entity->isIsAdmin() ? 'Sim' : 'Não'; ?>
            </td>
            <td>
                <a href="<?php echo $this->url('sonacl-admin/roles', ['action' => 'edit', 'id' => $entity->getId()]); ?>">Editar</a>&nbsp;|&nbsp;
                <a href="<?php echo $this->url('sonacl-admin/roles', ['action' => 'delete', 'id' => $entity->getId()]); ?>">Remover</a>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
</p>
<br/>
<?php echo $this->paginationControl($this->data, 'Sliding', 'partials/pagination'); ?>
